<div class="container border-light-subtle">
    <div class="card border-light-subtle">
        <div class="card-header">
            <h1 class="title"> {{titulo}} </h1>
        </div>
        <div class="card-body text-center text-primary">
            <form>
                <div class="mb-3 ">
                  <label for="idC" class="form-label">ID de la Categoría</label>
                  <input type="number" class="form-control" id="idC" name="v1" [(ngModel)]="categoria.idCategoria">
                </div>
            
                <div class="mb-3">
                  <label for="nombreC" class="form-label">Nombre de la Categoría</label>
                  <input type="text" class="form-control" id="nombreC"  name="v2" [(ngModel)]="categoria.nombreCategoria">
                </div>

                <div class="mb-3">
                    <label for="descripcionC" class="form-label">Descripción de la Categoría</label>
                    <input type="text" class="form-control" id="descripcionC"  name="v3" [(ngModel)]="categoria.descripcionCategoria">
                  </div>
                  
                  <div class="d-grid gap-2">
                    <button *ngIf="categoria.idCategoria === 0" 
                    type="submit" 
                    class="btn btn-primary" 
                    (click)="registrarCategoria()">Registrar Datos</button>

                    <button *ngIf="categoria.idCategoria !== 0" 
                    type="submit" 
                    class="btn btn-success" 
                    (click)="updateCategoria()">Actualizar Datos</button>
                </div>

                <!-- <div class="d-grid gap-2">
                    @if (categoria.idCategoria === 0) {
                        <button type="submit" class="btn btn-primary" (click)="registrarCategoria()">Registrar Datos</button>
                    } @else {
                        <button type="submit" class="btn btn-success" (click)="actualizarCategoria()">Actualizar Datos</button>
                    }
                </div> -->
                
                
            </form>
        </div>
    </div>
</div>

